<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

Redirect /draft3/ /
Redirect /draft4/ /
Redirect /draft5/ /

# Serve up everything in www/
RewriteEngine On
RewriteRule ^(/|$) www%{REQUEST_URI} [L]

ExpiresActive On
ExpiresDefault "access plus 1 day"