<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Some things should never be served up
RedirectMatch 404 /\.git
RedirectMatch 404 /\.travis

RewriteEngine On

# Not letsencrypt challenge responses!
RewriteCond %{REQUEST_URI} !^/\.well-known
# Serve up everything in dist/
RewriteRule !^dist(/|$) dist%{REQUEST_URI} [L]
