<div class="JSONTextBox">
	<h2><label dojoAttachPoint="titleNode">${name}</label></h2>
	<!-- We use a border container because it handles some weird resize issues for textarea quite nicely -->
	<div dojoType="dijit.layout.BorderContainer" design="headline" dojoAttachPoint="bc" gutters="false">
		<div dojoType="dijit.MenuBar" region="top" dojoAttachPoint="menu">
			<div dojoType="dijit.PopupMenuBarItem">
				<span>Edit</span>
				<div dojoType="dijit.Menu">
					<div dojoType="dijit.MenuItem" dojoAttachEvent="onClick:_format" iconClass="dijitEditorIcon dijitEditorIconIndent">
					Format JSON
					</div>
					<div dojoType="dijit.MenuItem" dojoAttachEvent="onClick:_validate">
					Validate JSON
					</div>
				</div>
			</div>
		</div>
		<textarea rows="19" class="text" spellcheck="false" dojoType="dijit.form.SimpleTextarea" region="center" dojoAttachPoint="box" title="${name}" dojoAttachEvent="onChange:_onChange, onKeyPress:_onKeyPress"></textarea>
	</div>
	<div class="errorContainer" dojoType="dijit.layout.TabContainer" region="bottom">
		<table dojoType="dojox.grid.DataGrid" title="Messages" dojoAttachPoint="messageGrid">
			<thead>
				<tr>
					<th field="property" width="30%">Path</th>
					<th field="message" width="60%">Message</th>
					<th field="details" width="10%">Details</th>
				</tr>
			</thead>
		</table>
	</div>
</div>