<div>

    <nav class="navbar navbar-default navbar-fixed-top navbar-collapse">
        <div class="container-fluid">

            <div class="navbar-header">

                <!-- toggle button -->
                <button type="button" class="navbar-toggle collapsed" ng-click="isNavExpanded = !isNavExpanded">
                    <span class="sr-only">{{'TOGGLE_NAVIGATION' | translate }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">JSON Schema Lint</a>

            </div>

            <div class="collapse navbar-collapse" uib-collapse="!isNavExpanded">
                <ul class="nav navbar-nav">

                    <li><a href="#" ng-click="ctrl.about($event)">{{ 'ABOUT' | translate }}</a></li>

                    <div uib-dropdown class="btn-group">
                        <button uib-dropdown-toggle class="btn btn-default dropdown-toggle navbar-btn" type="button" id="sampleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;{{ 'SAMPLES' | translate }}
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="sampleDropdown">
                            <li class="dropdown-header">draft-04</li>
                            <li role="menuitem"><a ng-click="ctrl.sample('draft4/valid')" ng-bind-html="'sample_titles.draft-04-valid' | translate"></a>
                            </li>
                            <li role="menuitem"><a ng-click="ctrl.sample('draft4/invalid')" ng-bind-html="'sample_titles.draft-04-invalid' | translate"></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">v5-unofficial</li>
                            <li role="menuitem"><a ng-click="ctrl.sample('v5-unofficial/valid')" ng-bind-html="'sample_titles.v5-unofficial-valid' | translate"></a>
                            </li>
                            <li role="menuitem"><a ng-click="ctrl.sample('v5-unofficial/invalid')" ng-bind-html="'sample_titles.v5-unofficial-invalid' | translate"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group navbar-btn" role="group" aria-label="Actions">
                        <button class="btn btn-default btn-danger" ng-click="ctrl.reset()">
                            <span class="glyphicon glyphicon-trash"></span> {{ 'RESET' | translate }}</button>
                        <button class="btn btn-default" ng-click="ctrl.saveGist()" ng-disabled="ctrl.loadedGist || !ctrl.getSchema() || !ctrl.getDocument()">
                            <span ng-class="{'glyphicon-save': !ctrl.loadedGist, 'glyphicon-saved': ctrl.loadedGist}" class="glyphicon"></span> {{ 'SAVE_AS_GIST' | translate }}</button>
                    </div>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <div class="btn-group navbar-btn" role="group" aria-label="Mode selection">
                        <div uib-dropdown class="btn-group" role="group">
                            <button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{ ctrl.currentMarkup.name || ( 'ERROR_INVALID_MARKUP_BUTTON' | translate )}}
                                <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="languageDropdown">
                                <li class="dropdown-header">{{ 'MARKUP_LANGUAGE' | translate:ctrl.currentValidator }}</li>
                                <li role="menuitem" ng-repeat="(key, value) in ctrl.markupLanguages" ng-class="{disabled: ctrl.markupLanguage==key}">
                                    <a ng-click="ctrl.setMarkupLanguage(key)">{{value.name}}</a>
                                </li>
                            </ul>
                        </div>

                        <div uib-dropdown class="btn-group" role="group">
                            <button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button" id="specVersionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-road"></span>&nbsp;{{ ctrl.currentValidator.name || ( 'ERROR_INVALID_VERSION_BUTTON' | translate ) }}
                                <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="specVersionDropdown">
                                <li class="dropdown-header">{{ 'SPEC_VERSION' | translate:ctrl.currentValidator }}</li>
                                <li role="menuitem" ng-repeat="(key, value) in ctrl.validators" ng-class="{disabled: ctrl.specVersion==key}">
                                    <a ng-click="ctrl.setSpecVersion(key)">{{value.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" ui-view name="content">
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="alert in ctrl.currentValidator.alerts" uib-alert ng-class="alert.className" ng-bind-html="alert.content_tid | translate"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-md-6">

                <validator identifier="schema" title="{{ 'SCHEMA' | translate }} :: {{ctrl.currentMarkup.name}}, {{ctrl.currentValidator.name}}" doc="ctrl.getSchema()" validate="ctrl.validateSchema" parse="ctrl.parseMarkup" pretty-print="ctrl.prettyPrint" success-message="'SCHEMA_VALID_MESSAGE' | translate:ctrl.currentValidator" on-update-doc="ctrl.onUpdateSchemaString(value)" on-update-obj="ctrl.onUpdateSchemaObj(value)"></validator>

            </div>

            <div class="col-xs-12 col-md-6">

                <validator identifier="document" title="{{ 'DOCUMENT' | translate }} :: {{ctrl.currentMarkup.name}}" doc="ctrl.getDocument()" validate="ctrl.validateDocument" parse="ctrl.parseMarkup" pretty-print="ctrl.prettyPrint" success-message="'DOCUMENT_VALID_MESSAGE' | translate:ctrl.currentValidator" on-update-doc="ctrl.onUpdateDocumentString(value)" on-update-validity="ctrl.onUpdateDocumentValidity(value)"></validator>

            </div>

        </div>
    </div>

</div>