body {
	color: #333;
	padding: 0px 50px;
}

h1, h2, h3, h4 {
	color: black;	
}

h1 {
	text-shadow: 0.1em 0.1em 0.1em grey;
}

body > div ~ div,
body > div + div {
	margin-top: 20px;
}

div.heading {
	text-align: center;
}

div.boxes {
	display: table;
	table-layout: fixed;
	width: 100%;
}

div.boxes > div.JSONTextBox {
	padding: 5px;
	display: table-cell;
	width: 50%;
}