{
  "rules": {
    "no-unused-vars": [0]
  },
  "globals": {
    "beforeEach": true,
    "expect": true,
    "describe": true,
    "it": true,
    "element": true,
    "by": true,
    "browser": true,
    "inject": true,
    "register": true,
    "chai": true,
    "protractor": true,
    "jasmine": true
  }
}
