div.JSONTextBox {
	height: 100%;
	width: 100%;
}
div.JSONTextBox > .dijitTabContainer.errorContainer {
	height: 150px;
}
div.JSONTextBox > .dijitBorderContainer,
div.JSONTextBox > .dijitBorderContainerNoGutter {
	height: 350px;
}
div.JSONTextBox h2 { 
	margin: 0.5em;
	text-align: center;
}
div.JSONTextBox h2 > label {
	display: block;
}
div.JSONTextBox textarea {
	resize: none;	
	font-family: Monaco, Andale Mono, monospace;
	font-size: smaller;
}
div.JSONTextBox.invalidJson textarea.dijitTextArea {
	border-color: #F85454;
	background-color: #fef0f0;
}
div.JSONTextBox.invalidJson div.dijitTabContainer .dijitTabChecked .dijitTabInnerDiv {
	background-color: #F85454;
}
div.JSONTextBox.validJson textarea.dijitTextArea {
	border-color: #A5A54B;
	background-color: #fefef0;
}
div.JSONTextBox.validJson div.dijitTabContainer .dijitTabChecked .dijitTabInnerDiv {
	background-color: #A5A54B;
}
div.JSONTextBox.validatedJson textarea.dijitTextArea {
	border-color: #4BA54B;
	background-color: #f0fef0;
}
div.JSONTextBox.validatedJson div.dijitTabContainer .dijitTabChecked .dijitTabInnerDiv {
	background-color: #4BA54B;
}
div.JSONTextBox .dojoxGridRowTable tr,
div.JSONTextBox .dojoxGridHeader .dojoxGridCell,
div.JSONTextBox .dojoxGridSortNode {
	background-color: transparent;	
}
