/* Experiments with removing parts of Bootstrap only saved ~10KB, so we are keeping the full Bootstrap */
@import '~bootstrap/scss/bootstrap';

body {
  padding-bottom: 0.75rem;
  padding-top: 4.25rem; /* Adjust based on the height of the navbar */
}

html {
  font-size: 14px;
}