body {
  padding-top: 60px;
}

textarea.json {
  font-family: Monaco, Andale Mono, monospace;
  font-size: smaller;
  resize: none;
  height: 300px;
}

pre.error-value {
  border: 0;
  padding: 0;
}

table.table-errors {
  table-layout: fixed;
}

td.error-path {
  word-break: break-word;
}